*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.container{
   width: 100%;
   min-height: 100vh;
   background-image: url("https://cdn.pixabay.com/photo/2018/12/21/20/17/music-3888684_960_720.png");
   background-repeat: no-repeat;
   background-size: cover;
}

.wrapper-sounds{
   display: flex;
   flex-wrap: wrap;
   width: 400px;
   position: absolute;
   right: 190px;
   top: 300px;
}

@media (max-width: 1090px){
   .wrapper-sounds{
      width: 200px;
      right: 150px;
   }
}

@media (max-width: 875px){
   .wrapper-sounds{
      width: 200px;
      right: 100px;
   }
}

@media (max-width: 799px){
   .wrapper-sounds{
      width: 200px;
      right: 50px;
   }
}

@media(max-width: 780px){
   .container{
      width: 100%;
      min-height: 100vh;
      background-image: url("https://static.vecteezy.com/system/resources/previews/001/200/740/non_2x/music-note-background-png.png");
      background-size: 100% 500px;
   }

   .wrapper-sounds{
      width: 65%;
      height: 200px;
      top: 500px;
   }
}

@media(max-width: 350px){

   .wrapper-sounds{
      width: 70%;
      height: 200px;
      top: 500px;
   }
}

@media(max-width: 280px){

   .wrapper-sounds{
      width: 75%;
      height: 200px;
      top: 500px;
   }
}

.sounds{
   width: 90px;
   height: 90px;
   border: 2px solid #000;
   margin: 5px;
   padding: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;transition: all .07s;
}

.playing{
   border: 2px solid red;
   box-shadow: 0 0 10px red;
   transform: scale(1.1);
}

.sounds p {
   font-size: 0.8rem;
   margin-top: 5px;
}

